.save-user{
    background-color: #0d6efc;
    border: 1px #fff solid;
    color: #ffffff;
}
.cancel-user{
    background-color: #e70e0e;
    border: 1px #fff solid;
    color: #ffffff;
}
.img-avt{
    border: black 2px solid;
    padding: 4px;
    border-radius: 50%;
}
.from-user{
    border-left: black 2px solid;
}
.hr-user{
    margin-top: 10px;
    border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
}
form {
    margin-top: 10%;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: space-around;
}
.form-input {
    width: 40%;
}
label {
    display: flex;
    align-items: center;
    gap: 10px;
}
.icon {
    cursor: pointer;
}
input {
    width: 100%;
    padding: 5px;
    border: none;
    border-bottom: 1px solid gray;
}